@{
    ViewBag.Title = "Selection";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h1>@ViewBag.Message</h1>
</hgroup>

<h1>Selection</h1>

<style>
h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  

</style>




@section content{
<section id="content">
	  <div id="content">

             <div class="form_settings">
                <a href="/Home/index"><h2>Log Out</h2></a>
                <a href="/Admin/Company"><h2 >Company Registration</h2></a> 
                <a href ="/Admin/Airplanes"> <h2 >Air Plane Registration</h2></a> 
                 <a href="/Admin/Detail"> <h2 >View Details</h2></a> 
                <a href="/Admin/U_Gallary"> <h2 >Update Gallary</h2></a> 
         
          		</div><!--close content_item-->
      </div><!--close content-->  
</section>
}